@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif; 
    background: #EF9F9F;
    margin: 0;
    padding: 0;
    color: #FFF2F2;
}

.card {
    background:white;
    font-family: Poppins;
    text-align: center;
    color: #FFF2F2;
    border-radius: 25px;
    padding: 20px;
    margin-top: 20px;
  }

.card-avatar {
  vertical-align: middle;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  padding: 20px;
}

.img-frans {
    background-image: url(../images/frans.png) ;
}

#name {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px 10px 0 10px;
}

#goals {
    font-size: 15px;
    font-weight: normal;
    color: #EF9F9F;
    text-align: center;
    padding: 0;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #FF5D5D;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em; 
    background: #eeb5b5;
    border: 1px #FF5D5D solid;
    box-shadow: 0 0 0.8em #FFC3C3;
    border-radius: 0.5em;
    color: #f7e6e6;
    position: sticky;
    top: 3em;
    left: 50%;
    width: 100%;
    opacity: 0;
    display: inline;
}

main {
    padding: 150px 20px 20px 20px;
    overflow: auto;
}
.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0; 
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background: #f1b1b1;
}

.active {
    background: #f1b1b1;
}

.menu-open {
    display: block;
    opacity: 1;
}

li a {
    text-decoration: none;
    color: inherit;
}

.li-margin {
    padding-top: 30px;
}
nav {
    background-image: url(../images/bg1.jpeg);
    background-position-y: -280px;
    background-repeat: no-repeat;
    padding: 5px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
 }

ul {
    display: flex;
    align-items: center;
    margin: 0;
}

 nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav a {
    font-size: 22px;
}

nav a:hover {
    font-weight: bold;
    color:#FF5D5D;
}
span {
    font-size: 22px;
    font-weight: bold;
}

 .temenin1 {
    float: left;
 }

.responsive-image {
    width: 100%;
    max-width: 500px;
    height: auto;
      }
 
.temenin2 {
    float: left;
    direction: rtl;
 }

 .article1 {
     margin-top: 20px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     border-radius: 5px;
     text-align: left;
     justify-content: center;
     display: flex;
     padding-top: 25px;
     padding-bottom: 25px;
 }

 .article2 {
     margin-top: 20px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     border-radius: 5px;
     direction: rtl;
     text-align: right;
     justify-content: center;
     display: flex;
     padding-top: 25px;
     padding-bottom: 25px;
 }

 h2{
     padding: 0 40px 0 0;
     margin: 0;
     font-size: 45px;
     color: #FF5D5D;
 }
 p {
     font-size: 18px;
     padding: 0;
     margin-top: 5px;
     overflow: hidden;

 }

 .content1 {
     padding-left: 20px;
     padding-right: 20px;
 }
 
 .content1 h2 {
     line-height: 55px;
 }
 
 .content1 p { 
     text-align: justify;
 }


 .content2 {
    padding-right: 20px;
    padding-left: 20px;
}

.content2 p { 
    text-align: justify;
}

.content2 h2 {
    line-height: 55px;
}

.button {
  background: #FFAFAF;
  border-radius: 999px;
  box-shadow: #FF9999 0 10px 20px -10px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  width: fit-content;
  border: 0;
  text-decoration: none;
}

.button:hover {
    font-weight: 800px;
    color:#FF5D5D;
}

footer {
    padding: 10px;
    color: #FF5D5D;
    background-color: #FFE98A;
    text-align: center;
    width: 100%;
    bottom: 0;
 }

 aside {
    float : right;
    width: 25%;
    padding-left: 20px;
}

#contents {
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    width: 75%;
}

footer p {
    font-size: 20px;
    color: #FF5D5D ;

}


@media screen and (max-width: 1000px) {
    #contents, 
    aside {
        width: 100%;
        padding: 0;
    } 
    .responsive-image {
        width: 50%;
    }
}


/* Dropdown CSSnya disini */
.dropdown {
    position: relative;
    margin: 0;
    float: right;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    background: #FAD4D4;
    color: #FFF2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #FF5D5D solid;
    border-radius: 0.5em;
    padding: 0.5em;
    cursor: pointer;
}

.select-clicked {
    border: 2px #FF5D5D solid;
    box-shadow: 0 0 0.8em #FFC3C3;
}

.select:hover {
    background: #c69e9e;
}